<div class="homepage container">
  <div class="container">
    <%= image_tag "instapics_homepage_banner.png", alt:"Instapics Banner", id:"banner" %>
  </div>

  <div class="container home-sign">
    <div id="home-logo">
      <%= image_tag "instapics_logo_in_letters.png", alt: "Instapics Logo", id:"logo-letters" %>
    </div>

    <div class="login-parts">
    </div>
  </div>
</div>
